# Gradle
.gradle/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
/.idea/

# User-specific files
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml

# OS-specific files
.DS_Store
Thumbs.db
